<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- 1. css의 절대경로도 추가해준다. -->
    <link th:href="@{/assets/css/bootstrap.min.css}"
    		href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.addItem}">상품 등록 폼</h2>
    </div>

	<!-- th:object -> 선택 변수식 -->
    <form action="item.html" th:action="@{/form/items/add}" th:object="${item}" method="post">
        <div>
            <label for="itemName" th:text="#{label.item.itemName}">*상품명</label>
            <input type="text" id="itemName" th:field="*{itemName}" class="form-control" placeholder="이름을 입력하세요"> <!--  *{itemName} == ${item.itemName} -->
        </div>
        <div>
            <label for="price" th:text="#{label.item.price}">*가격</label>
            <input type="text" id="price" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div>
            <label for="quantity" th:text="#{label.item.quantity}">*수량</label>
            <input type="text" id="quantity" th:field="*{quantity}" class="form-control" placeholder="수량을 입력하세요">
        </div>

        <hr class="my-4">
        
        <!-- single checkbox -->
        <!-- 1. 히든 필드 추가 -> 스프링에서 제공하는 체크박스 트릭(타임리프에선 자동으로 생성)
        <input type="hidden" name="_open" value="on"/>
        -->
        <div>
        	<div>판매 여부</div>
        	<div>
        		<div class="form-check">
        			<input type="checkbox" id="open" th:field="*{open}" class="form-check-input">
        			<label for="open" class="form-check-label">판매 오픈</label>
        		</div>
        	</div>
        </div>
        
        <!-- multi checkbox -->
        <div>
            <div>등록 지역</div>
            <div th:each="region : ${regions}" class="form-check form-check-inline" style="display: inline-block; padding-right: 3px;">
                <input type="checkbox" th:field="*{regions}" th:value="${region.key}" class="form-check-input">
                <label th:for="${#ids.prev('regions')}"
                       th:text="${region.value}" class="form-check-label">서울</label>
            </div>
        </div>
        
        <!-- radio button -->
        <div>
            <div>상품 종류</div>
            <div th:each="type : ${itemTypes}" class="form-check form-check-inline" style="display: inline-block; padding-right: 3px;">
                <input type="radio" th:field="*{itemType}" th:value="${type.name()}" class="form-check-input">
                <label th:for="${#ids.prev('itemType')}" 
                	   th:text="${type.description}" class="form-check-label">BOOK</label>
            </div>
        </div>
        
        <!-- select Box -->
        <div>
            <div>배송 방식</div>
            <select th:field="*{deliveryCode}" class="form-select">
                <option value="">==배송 방식 선택==</option>
                <option th:each="deliveryCode : ${deliveryCodes}" 
                		th:value="${deliveryCode.code}"
                        th:text="${deliveryCode.displayName}">FAST</option>
            </select>
        </div>
        
        <hr class="my-4">
        
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.save}">*저장</button>
                <button class="w-100 btn btn-secondary btn-lg" 
                		onclick="location.href='items.html'" 
                		th:onclick="|location.href='@{/form/items}'|" 
                		type="button" th:text="#{button.cancel}">*취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>