<div class="my_footer">
    <div class="my_footer_left_menu">
        <div class="my_text_menu_title">Tistory</div>
        <div class="my_text_menu_body">티스토리는 마음을 담아 만듭니다.</div>
    </div>
    <div class="my_footer_right_menu">
        <div class="my_footer_right_menu_item">
            <div class="my_text_menu_subtitle">메뉴가 궁금할 땐</div>
            <div class="my_text_menu_body">스킨</div>
            <div class="my_text_menu_body">포럼</div>
            <div class="my_text_menu_body">스토리</div>
        </div>
        <div class="my_footer_right_menu_item">
            <div class="my_text_menu_subtitle">사용하다 궁금할 땐</div>
            <div class="my_text_menu_body">오픈 API</div>
            <div class="my_text_menu_body">스킨가이드</div>
            <div class="my_text_menu_body">고객센터</div>
        </div>
        <div class="my_footer_right_menu_item">
            <div class="my_text_menu_subtitle">정책이 궁금할 땐</div>
            <div class="my_text_menu_body">티스토리 개인정보처리방침</div>
            <div class="my_text_menu_body">청소년보호정책</div>
            <div class="my_text_menu_body">오픈API 이용약관</div>
            <div class="my_text_menu_body">Email수집 거부정책</div>
        </div>
        <div class="my_footer_right_menu_item">
            <div class="my_text_menu_subtitle">도움이 필요할 땐</div>
            <div class="my_text_menu_body">권리침해신고</div>
            <div class="my_text_menu_body">상거래 피해 구제신청</div>
        </div>
    </div>
</div>
<!-- drawer.js -->
<script src="/tistory/js/drawer.min.js"></script>
</body>
<script>
	
	$('.drawer').drawer({
    	class: {
        	nav: 'drawer-nav',
        	toggle: 'drawer-toggle',
        	overlay: 'drawer-overlay',
        	open: 'drawer-open',
        	close: 'drawer-close',
        	dropdown: 'drawer-dropdown'
    	},
    	iscroll: {
        	// Configuring the iScroll
        	// https://github.com/cubiq/iscroll#configuring-the-iscroll
        	mouseWheel: true,
        	preventDefault: false
    	},
    	showOverlay: true
	});
   
</script>
</html>